<div class="row">
  <form #formRef="ngForm" class="col col-md-6 offset-md-3">
    <h1>Contact us</h1>

    <div class="form-group">
      <label for="email">Email</label>
      <!--ways to use ngClass-->
      <input type="email" #emailRef="ngModel" email required minlength="3"
             [(ngModel)]="contact.email"
             name="email"
             id="email"
             [ngClass]="{'is-invalid': showErrors(emailRef) }"
             [class.is-invalid]="showErrors(emailRef)"
             class="form-control">
      <div class="invalid-feedback" *ngIf="showErrors(emailRef)">
        <div *ngIf="emailRef.errors.required">This is required</div>
        <div *ngIf="emailRef.errors.minlength">This is should be longer</div>
        <div *ngIf="emailRef.errors.email">This is should be a valid email</div>
      </div>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea name="message" #messageRef="ngModel" [(ngModel)]="contact.message" minlength="5" required  id="message"
                [class.is-invalid]="showErrors(messageRef)"
                class="form-control"></textarea>
      <div class="invalid-feedback" *ngIf="showErrors(messageRef)">
        <div *ngIf="messageRef.errors.required">This is required</div>
        <div *ngIf="messageRef.errors.minlength">This is should be longer</div>
      </div>
    </div>
    <button class="btn btn-primary float-right" [disabled]="formRef.invalid" ><span class="fa fa-send"></span> Send</button>
  </form>

</div>
