<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-info">
  <div class="container ">
    <a class="navbar-brand" href="#">TV Maniac</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  mr-auto">
        <li *ngFor="let item of menu"
            class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: item.exact}">
          <a class="nav-link" [routerLink]="item.path"><span [ngClass]="item.class"></span> {{item.label}}</a>
        </li>
      </ul>
      <tm-loader class="nav-item text-white">
        loading...
      </tm-loader>
    </div>
  </div>
</nav>

<div class="container" style="padding-top:7%">
  <router-outlet></router-outlet>
</div>
