<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container ">
    <a class="navbar-brand" href="#">TV Maniac</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngFor="let item of menu"
            class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: item.exact}">
          <a class="nav-link" [routerLink]="item.path">{{item.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
